*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.container{
  width: 90%;
  margin: 0 auto;
}
body {
  font-family: 'Poppins',sans-serif;
  background: linear-gradient(0deg, rgba(135, 92, 170, 0.4), rgba(135, 92, 170, 0.4)), rgba(243, 130, 216, 0.5);
}
@mixin dis {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
