@import "global";


#header {
  .header {
    @include dis();
    a {
      font-family: 'Poppins',sans-serif;
      font-weight: 600;
      font-size: 36px;
      color: #FFFFFF;
    }
  }
}


#hero{
  .hero{
    @include dis;
    &--text{
      width: 662px;
      h1{
        font-weight: 700;
        font-size: 55px;
        line-height: 82px;
        color: #FFFFFF;
      }
      p{
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
        padding: 40px 0;
      }
      button{
        font-weight: 300;
        font-size: 24px;
        text-align: center;
        padding: 12px 30px;
        color: #FFFFFF;
        background: linear-gradient(0deg, rgba(135, 92, 170, 0.45), rgba(135, 92, 170, 0.45)), rgba(243, 130, 216, 0.5);
        mix-blend-mode: lighten;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 30px;
      }
    }
  }
}

#livros {
  .livros {
    &--tittle {
      @include dis;
      h1 {
        font-weight: 700;
        font-size: 55px;
        line-height: 82px;
        color: #FFFFFF;
      }
    }
    &--block {
      @include dis;
      padding: 50px 50px;
    }
  }
}